<header>
  <nav>
    <ul>
      <li><a href="">Agus Dustin Sudarta</a></li>
      <ul style="float: right;">
      <li><a href="https://mahkota.ch">Mahkota</a></li>
      <li><a href="https://nesdia.com">Nesdia</a></li>
      <li><a href="https://finance.ch">Finance</a></li>
    </ul>
    </ul>
  </nav>
</header>

<style>
  header {
    display: flex;
    align-items: center;
    background-color: #151515;
    border: 1px solid #262626;
    box-sizing: border-box;
    height: 64px;
    position: sticky; top: 0;
  }

  nav{
    width: 100%;
  }

  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
</style>
